body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content:space-between;
}

.navbar li{
    display: inline-block;
    margin-right: 20px;
}
.navbar li:hover{
    border-radius: 20px;
    width: cover;
    background-color: rgb(34, 43, 43);
    color: black;

}
.navbar img{
    margin-bottom: 10px;
}

.navbar li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 12px;
}