body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: #DEEFB7;
}

.form{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 3px #524632;
    border-radius: 15px;
}

.qsn{
    font-size: 30px;
    color: #03045E;
}

.input:hover{
    background-color: #03045E;
    color: white;
}

.input::placeholder{
    color: #03045E;
}

.input:hover::placeholder{
    color: white;
}

.btn{
    background-color: #011638;
    border-radius: 15px;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn:hover{
    background-color: #03045E;
}

.score{
    color: #03045E;
    text-align: right;
}